.mapa {
  width: 50vw;
  height: 50vh;  
  border: 1px solid red; 
  border-radius: 50% 50% 50% 50%;
  grid-area: mapa;    
  
}
.container-map {  
  margin: 0 25vw;
}
.container-map-withDrag{

  width: 400px;
  height: 400px;  

}
