.mapa {
  width: 50vw;
  height: 50vh;  
  border: 1px solid red; 
  border-radius: 50% 50% 50% 50%;
  grid-area: mapa;    
  
}
.container-map {
  display: grid;
  grid-template-areas:
  "mapa" ;
  margin: 0 25vw;
}
