.mapa {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
}

.container-map {
  width: 100%;
  height: 100%;
}

.container-map-withDrag {
  width: 400px;
  height: 400px;
}

/* Details page map specific styles */
.details-map .container-map {
  width: 100%;
  height: 100%;
}

.details-map .mapa {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
