.App {
  text-align: center;
}

.nav-active button {
  background-color: blue;  
}
.nav-inactive button {
  background-color: red;  
}
.spinner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 50vh;
}