.App {
  /* text-align: center; */
}
.spinner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 50vh;
}

.calles-container-body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  display: flex; 
  justify-content: space-evenly;
  flex-Wrap:wrap;  

  height: 100vh;

  background: url(../public/fondo-calle.jpg) no-repeat center center fixed;
  background-size: cover;
  

  color: rgb(87, 87, 240);

}